# exclude node_modules, public, and build
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
iss.sql

# exclude env
.env
.env.backup
.env.production
.env.tester

# exclude unit tester and logger
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# exclude others
/.idea
/.vscode
*.zip
/.zip

